@{
  Layout = "_Layout";
}
    @using Music.Models;
    <h1>Artists</h1>
        @if (@Model.Count == 0)
    {
      <h3>No artist have been added yet!</h3>
    } 
        @foreach (Artist artist in Model)
        {
            <h3><a href="/artists/@artist.ArtistId">@artist.Name</a></h3>
        }
    <a href="/artists/new">Add a new Artist</a>
    <p><a href='/'>Back home</a></p>
