@{
  Layout = "_Layout";
}
    <h1>Add a Artist</h1>
    <p>Add a artist here:</p>
    <form action="/artists" method="post">
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName" required />
        <button type="submit">Add</button>
    </form>
    <p><a href="/">Back home</a></p>
    <p><a href="/artists">Back to Artists</a></p>
