<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>All Records Deleted</title>
</head>
<body>
    <h1>All records have been deleted.</h1>
    <a href="/records">Back to Records</a>
</body>
</html>
