@{
  Layout = "_Layout";
}
@using Music.Models;
    <h1>Records</h1>
    <ul>
        @foreach (Record record in Model)
        {
            <li><a href="/artists/@record.ArtistId/records/@record.RecordId">@record.Title</a></li>
        }
    </ul>
    <a href="/artists">Back to Artists</a>
