@{
  Layout = "_Layout";
}

@using Music.Models;

<h1>Records</h1>

<ul>
  @foreach(Record record in Model)
  {
    <li>@Html.ActionLink($"{record.Title}", "Details", new { id = record.RecordId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new record", "Create")</p>
