@using Music.Models;
@model List<Record>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Records List</title>
</head>
<body>
    <h1>Records</h1>
    <ul>
        @foreach (Record record in Model)
        {
            <li><a href="/artists/@record.ArtistId/records/@record.RecordId">@record.Title</a></li>
        }
    </ul>
    <a href="/artists">Back to Artists</a>
</body>
</html>
