@{
  Layout = "_Layout";
}
    <h1>Add a new record to @Model.Name</h1>
    <form action="/artists/@Model.ArtistId/records" method="post">
      <input id="artistId" name="artistId" type="hidden" value="@Model.ArtistId">
      <label for="recordTitle">Record Title</label>
      <input id="recordTitle" name="recordTitle" type="text">
      <button type='submit'>Add Record</button>
    </form>
