@using Music.Models;
@model Record

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Model.Title Details</title>
</head>
<body>
    <h1>@Model.Title by @Model.ArtistName</h1>
    <a href="/records">Back to Records</a>
</body>
</html>
