<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music Home</title>
</head>
<body>
    <h1>Welcome to the Music Management System</h1>
    <p>Organize your music records by artists.</p>
    <a href="/artists">View All Artists</a>
    <a href="/artists/new">Add a New Artist</a>
</body>
</html>
